<header>
    <!--Menu no Responsive Tablet/Laptop/Escritorio-->
    <nav class="nav-nonresponsive">
        <div >
          <a href="/home"><img src="/images/logoPATITAsinfondo.png" alt="logo" class="logo-noresponsive" ></a>
        </div>
        
        <div class="menu1">
            <ul class="nav-menu1">
                <li><a href="/home">Inicio |</a></li> 
               <li><a href="/tienda">Tienda |</a></li>   
               <li><a href="/nosotros">Nosotros |</a></li>   
            </ul>
        </div>
      
        <div class="menu2">
            <ul class="nav-menu2">
                 <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
                 <li><a href="/user/login">Ingresar |</a></li>
                 <li><a href="/user/registro">Registrarse</a></li>  
            </ul>
        </div>
   
    </nav>
         <!--Menu Responsive para celular-->
           <div class="menuresponsive">
                
                <div class="respmenu">
                    <div class="logo-tienda-responsive">
                        <img src="/images/logoPATITAsinfondo.png" alt="logo" class="img-logo">
                        <div class="logo-header"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                    </div>
                     <div>
                           <input type="checkbox">
                           <i class="fas fa-bars"></i>
                           <i class="fas fa-times"></i>
                            <nav>
                               <ul>
                                 <li><a href="/home" class="respmenu-link">Home</a></li>
                                 <li><a href="/home">Inicio |</a></li>
                                 <li><a href="#" class="respmenu-link">Tienda</a></li>
                                 <li><a href="#" class="respmenu-link">Nosotros</a></li>
                                 <li><a href="/user/login" class="respmenu-link">Ingresar</a></li>
                                 <li><a href="/user/registro" class="respmenu-link">Registrarse</a></li>
                                </ul>
                            </nav>
                        </div>  
                    </div>
            </div>  
</header>