<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Mis Compras</title>
</head>
<body>
    <header class="header">
        <section >
            <article class="box-logo">
                <img src="/images/logoong.png" alt="logo" width="20%"> 
                <h1 class="h1"> NOMBRE DE LA PAGINA 
                    
                </h1>
                <nav><i class="fas fa-search"> </i>  <input type="text"> </nav>
            </article>       
        </section>
        <nav>
            <ul>
                
                <li> <a href="/home"> Home</a> </li>
                <li><a href="Productos"> Mascotas </a>  </li>
                <li><a href="Sobre nosotros">Nosotros</a> </li>
                <li><a href="Contacto">Contacto</a> </li>
            </ul>
        <nav>
    </header>
<main class="main">
    <section>
        <h2> Mis Compras</h2>
        <article>
            
            <i class="fas fa-truck"> </i>
            <h3> Producto Elegido</h3>
            <img src="/images/logoong.png" alt="logo" width="20%"> 
            <p> Precio</p>
        </article>
    </section>

</main>


    
    <footer class="footer">
        <section class="footer-art">
            <article>
                <p class="p-footer"> VISITE NUESTRAS REDES SOCIALES</p> 
                <a href=""> <i class="fab fa-facebook-square" target="blank"></i>Facebook </a>
                <a href=""><i class="fab fa-whatsapp-square" target="blank"></i>Whatsapp </a>
                <a href=""><i class="fab fa-instagram-square"target="blank"> Instagram</i></a
            </article>

            <article>
                <p> Colaboradores/ sponsors</p>
            </article>
        </section>
        <p>&copy; Nombre de la Pagina</p>
    </footer>

</body>
</html>