<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style1.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Mis Compras</title>
</head>
<body>
    <header class="header">
        <section >
            <article class="box-logo">
                <img src="/images/logoong.png" alt="logo" width="20%"> 
                <h1 class="h1"> NOMBRE DE LA PAGINA 
                    
                </h1>
                <nav><i class="fas fa-search"> </i>  <input type="text"> </nav>
            </article>       
        </section>
        <nav>
            <ul>
                
                <li> <a href="/home"> Home</a> </li>
                <li><a href="Productos"> Mascotas </a>  </li>
                <li><a href="Sobre nosotros">Nosotros</a> </li>
                <li><a href="Contacto">Contacto</a> </li>
            </ul>
        <nav>
    </header>
<main class="main">
    <section>
        <h2> Mis Compras</h2>
        <article>
            
            <i class="fas fa-truck"> </i>
            <h3> Producto Elegido</h3>
            <img src="/images/logoong.png" alt="logo" width="20%"> 
            <p> Precio</p>
        </article>
    </section>

</main>

<footer>

    <div class="footer-container-all">

        <div class="footer-container">


            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-facebook"></i> Siguenos en Facebook </label>

                </div>
                <div class="foot-redes">

                      
                      <label><i class="fa-brands fa-instagram"></i> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-square-twitter"></i> Siguenos en Twitter</label>
                </div>


            </div>
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    
                    <label> <i class="fa-solid fa-mobile-screen-button"></i>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-envelope"></i>javiernicolasolivera@gmail.com</label>
                </div> 

                

            </div>
           
        </div>
            <div class='footer-container1'>

                     <div class="copyright"> 2022 Todos los derechos reservados Grupo#4</div>
                <div class="politica">

                    <a href=""> Informacion compañia</a>|
                    <a href=""> Privacidad y Politica</a>|
                    <a href=""> Terminos y condiciones</a>

                </div>
            </div>
  
           
        </div>

        
        
   </footer>


</body>
</html>