<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <!--Menu no Responsive Tablet/Laptop/Escritorio-->
        <nav class="nav-nonresponsive">
            <div >
              <a href="/home"><img src="/images/logoPATITAsinfondo.png" alt="logo" class="logo-noresponsive" ></a>
            </div>
            
            <div class="menu1">
                <ul class="nav-menu1">
                   <li><a href="/">Mascotas |</a></li>   
                   <li><a href="/tienda">Tienda |</a></li>   
                   <li><a href="/">Nosotros |</a></li>   
                </ul>
            </div>
           
            <div class="menu2">
                <ul class="nav-menu2">
                     <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
                     <li><a href="/login">Ingresar |</a></li>
                     <li><a href="/registro">Registrarse</a></li>  
                </ul>
            </div>
       
        </nav>
             <!--Menu Responsive para celular-->
               <div class="menuresponsive">
                    
                    <div class="respmenu">
                        <div class="logo-tienda-responsive">
                            <img src="/images/logoPATITAsinfondo.png" alt="logo" class="img-logo">
                            <div class="logo-header"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                        </div>
                         <div>
                               <input type="checkbox">
                               <i class="fas fa-bars"></i>
                               <i class="fas fa-times"></i>
                                <nav>
                                   <ul>
                                     <li><a href="/home" class="respmenu-link">Home</a></li>
                                     <li><a href="#" class="respmenu-link">Mascotas</a></li>
                                     <li><a href="/tienda" class="respmenu-link">Tienda</a></li>
                                     <li><a href="#" class="respmenu-link">Nosotros</a></li>
                                     <li><a href="/login" class="respmenu-link">Ingresar</a></li>
                                     <li><a href="/registro" class="respmenu-link">Registrarse</a></li>
                                    </ul>
                                </nav>
                            </div>  
                        </div>
                </div>  
    </header>
      <!--detalle de productos-->
<div class="detalle-producto-body">
    

    <main class="detalle-main-producto">
    
            <div class="container-img">
                  <img src="images/cuadro.png" alt="">

            </div>

            <div class="container-info-producto">
                 <div class="container-price">
                       <span> $3.000 </span>
                      <i class="fa-solid fa-gift"></i>
                  
                 </div>

                <div class="container-detail-product">

                    <div class="form-group">
                       
                        <label for="colour"> Tipo de cuadro</label>

                        <select name="colour" id="colour">
                          <option disabled selected value="">

                             Escoge una opcion 
                          </option>

                          <option value="rojo">
 
                                Vinilo
                          </option>

                          <option value="blanco">

                               Pintura a mano

                          </option>

                          <option value="beige">

                               4K

                          </option>


                        </select>



                    </div>

                    <div class="form-group">
                       
                        <label for="medida" class="medida"> Medida </label>

                        <select name="medida" id="medida">
                            <option disabled selected value="">

                                Escoge una opcion 
                            </option>

                            <option value="12x15x62">
 
                                12x15x62
                             </option>

                            <option value="5x10x22">

                              5x10x22

                            </option>

                            <option value="2.5x5x3">

                                 2.5x5x3

                            </option>


                        </select>



                    </div>

                    <button class="btn-clean"> Limpiar </button>
                    

                </div>  
                     <div class="container-add-card">
                        <div class="container-quantity">
                            <input type="number" placeholder="1" value="1" min="1" class="input-quantity">
                        </div>

                         <div class="btn-increment-decrement">
                            <i class="fa-solid fa-chevron-up"></i>
                            <i class="fa-solid fa-chevron-down"></i>

                         </div>
                         

                            <button class="btn-add-too-cart">

                               <i class="fa-solid fa-plus"></i>
                                   
                                  Añade al carrito
                             </button>

                     </div>

                         <div class="container-description">
                        
                            <div class="title-description">
                                <h4> Descripcion </h4>
                                <i class="fa-sharp fa-solid fa-chevron-down"></i>
                            </div>

                                <div class="text-description">

                                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Expedita eum inventore 
                                    facilis ducimus? Eveniet hic ducimus 
                                    quia voluptates non omnis quibusdam est culpa nemo quidem. Ipsa ducimus sint atque officiis!
                                    quia voluptates non
                                   </p>



                                </div>

                         </div>
                                 <div class="container-additional-information">

                                      <div class="title-information-additional">
                                        <h4> Informacion adicional</h4>

                                        <i class="fa-sharp fa-solid fa-chevron-down"></i>

                                      </div>
                                   <div class="text-aditional-information">


                                        <p>------------------</p>

                                   </div>

                                 </div>

                                 <div class="container-reviews">

                                      <div class="title-reviews">
                                        <h4> Calificacion </h4>

                                        <i class="fa-sharp fa-solid fa-chevron-down"></i>

                                      </div>
                                   <div class="text-reviews">


                                        <p>------------------</p>

                                   </div>

                                 </div>

                        <div class="container-social">

                               <span>Compartir</span>
                                 <div class="container-buttons-social">

                                  <a href=""><i class="fa-brands fa-facebook"></i></a>
                                  <a href=""><i class="fa-brands fa-instagram"></i></a>
                                  <a href=""><i class="fa-brands fa-twitter"></i></a>
                                  <a href=""><i class="fa-solid fa-envelope"></i></a>


                                 </div>
                        </div>


            </div>

   </main>

   <section class="container-related-products">
               <h2>Productos Relacionados</h2>

                <div class="card-list-products">
                     <div class="card">

                      <div class="card-img">


                     <img src="images/cuadroGato.png" alt="">

                      </div>
                      <div class="info-card">

                     <div class="text-product">
                          <h3> Vinilo </h3>
                        <p class="category"> Cuadro de vinilo </p>
                     </div>
                       <div class="price">
                        $2.800

                       </div>
                      </div>

                      


                     </div>

                 <div class="card">

                      <div class="card-img">


                     <img src="images/cuadroGato1.png" alt="">

                      </div>
                      <div class="info-card">

                     <div class="text-product">
                          <h3> Vinilo </h3>
                        <p class="category"> Pintura a mano </p>
                     </div>
                       <div class="price">
                        $3.500

                       </div>
                      </div>

                      


                     </div>

                     <div class="card">

                      <div class="card-img">


                     <img src="images/cuadroGato2.png" alt="">

                      </div>
                      <div class="info-card">

                     <div class="text-product">
                          <h3> 4K </h3>
                        <p class="category"> Cuadro 4K </p>
                     </div>
                       <div class="price">
                        $8.800

                       </div>
                      </div>

                      


                     </div>

                     <div class="card">

                      <div class="card-img">


                     <img src="images/cuadroGato3.png" alt="">

                      </div>
                      <div class="info-card">

                     <div class="text-product">
                          <h3> Static </h3>
                        <p class="category"> Static </p>
                     </div>
                       <div class="price">
                        $5.600

                       </div>
                      </div>

                      


                     </div>
            
            


   </section>

</div>
<footer>

    <div class="footer-container-all">

        <div class="footer-container">


            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-facebook"></i> Siguenos en Facebook </label>

                </div>
                <div class="foot-redes">

                      
                      <label><i class="fa-brands fa-instagram"></i> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-square-twitter"></i> Siguenos en Twitter</label>
                </div>


            </div>
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    
                    <label> <i class="fa-solid fa-mobile-screen-button"></i>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-envelope"></i>javiernicolasolivera@gmail.com</label>
                </div> 

                

            </div>
           
        </div>
            <div class='footer-container1'>

                     <div class="copyright"> 2022 Todos los derechos reservados Grupo#4</div>
                <div class="politica">

                    <a href=""> Informacion compañia</a>|
                    <a href=""> Privacidad y Politica</a>|
                    <a href=""> Terminos y condiciones</a>

                </div>
            </div>
  
           
        </div>

        
        
</footer>
    <li><a href="cuadro">Cuadro</a></li> 
</body>
</html>