<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <nav class="nav-nonresponsive">
            <div>
              <img src="/images/logoong.png" alt="logo">
            </div>
            <div>
                <ul>
                   <li><a href="/home">Home</a></li>   
                   <li><a href="/">Mascotas</a></li>   
                   <li><a href="/">Tienda</a></li>   
                   <li><a href="/">Nosotros</a></li>   
                </ul>
            </div>
            <div>
                <ul>
                     <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
                     <li><a href="/login">Ingresar</a></li>
                     <li><a href="/registro">Registrarse como usuario</a></li>  
                </ul>
            </div>
        </nav>
               <div class="menuresponsive">
                    
                    <div class="respmenu">
                        <div class="logo-tienda-responsive">
                            <img src="/images/logoong.png" alt="logo" class="img-logo">
                            <div class="logo-header"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                        </div>
                         <div>
                               <input type="checkbox">
                               <i class="fas fa-bars"></i>
                               <i class="fas fa-times"></i>
                                <nav>
                                   <ul>
                                     <li><a href="/home" class="respmenu-link">Home</a></li>
                                     <li><a href="#" class="respmenu-link">Mascotas</a></li>
                                     <li><a href="#" class="respmenu-link">Tienda</a></li>
                                     <li><a href="#" class="respmenu-link">Nosotros</a></li>
                                     <li><a href="/login" class="respmenu-link">Ingresar</a></li>
                                     <li><a href="/registro" class="respmenu-link">Registrarse</a></li>
                                    </ul>
                                </nav>
                            </div>  
                        </div>
                </div>  
    </header>
   <main>
    <section>
        <div><img src="" alt="fotoheader"></div>
        <div>BOTON PARA DONACIONES</div>
    </section>
    <section>
        <article>
            <div>
                <img src="" alt="texto1">
            </div>
            <div>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptates ipsum ad esse quod animi optio nemo. Numquam, aspernatur nisi alias exercitationem eos officia beatae odio praesentium. Praesentium, accusantium repellendus.
                </p>
            </div>
        </article>
        <article>
                <div>
                 <img src="" alt="texto2">
                </div>
                <div>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nobis consectetur, blanditiis reprehenderit molestias repellendus velit deserunt quia soluta ea labore odit voluptas quibusdam quod! Temporibus eligendi excepturi quos asperiores.

                    </p>
                </div>
        </article>
        <article>
            <div>
             <img src="" alt="texto3">
            </div>
            <div>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cupiditate dolorum iste aperiam et ipsam laborum a architecto sapiente magnam repudiandae, officia dolor obcaecati velit nemo! Sunt atque animi expedita!
                </p>
            </div>
        </article>
    </section>
   </main>
    <footer>
        <div class="footer-container">


            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                      <img src="">
                      <label> Siguenos en Facebook</label>

                </div>
                <div class="foot-redes">

                      <img src="">
                      <label> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                      <img src="">
                      <label> Siguenos en Twitter</label>
                </div>


            </div>
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    <img src="">
                    <label>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    <img src="">
                    <label>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    <img src="">
                    <label>javiernicolasolivera@gmail.com</label>
                </div> 

            </div>
         
            <div class='footer-container1'>
                 <div class="copyright"> 2022 Todos los derechos reservados

                 </div>
                <div class="politica">

                  <a href=""> Informacion compañia</a>|
                  <a href=""> Privacidad y Politica</a>|
                  <a href=""> Terminos y condiciones</a>|

                </div>

            </div>
  
           
        </div>

        
        
   </footer>
</body>
</html>