<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <div>
            <img src="" alt="">
        </div>
        <div>
            <ul>
              <li><a href="/home">Home</a></li>   
              <li><a href="/">Mascotas</a></li>   
              <li><a href="/">Tienda</a></li>   
              <li><a href="/">nosotros</a></li>   
            </ul>
        </div>
        <div>
            <ul>
              <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
              <li><a href="/login">Ingresar</a></li>   
            </ul>
        </div>
    </header>
   <main>

   </main>
   <footer>

   </footer>
</body>
</html>