<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Iconos-->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <!--Fuentes-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Orbitron&family=Pacifico&display=swap" rel="stylesheet">
    <!--CSS PROPIO-->
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
    <header>
        <!--Menu no Responsive Tablet/Laptop/Escritorio-->
      
        <nav class="nav-nonresponsive" >
            <div >
              <a href="/home"><img src="/images/logoPATITAsinfondo.png" alt="logo" class="logo-noresponsive" ></a>
            </div>
            
            <div class="menu1">
                <ul class="nav-menu1">
                   <li><a href="/">Mascotas |</a></li>   
                   <li><a href="/tienda">Tienda |</a></li>   
                   <li><a href="/">Nosotros |</a></li>   
                </ul>
            </div>
           
            <div class="menu2">
                <ul class="nav-menu2">
                     <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
                     <li><a href="/login">Ingresar |</a></li>
                     <li><a href="/registro">Registrarse</a></li>  
                </ul>
            </div>
       
        </nav>
    
             <!--Menu Responsive para celular-->
                                    <div class="menuresponsive">  
                                        <div class="respmenu">
                                            <div class="logo-tienda-responsive">
                                              <img src="/images/logoPATITAsinfondo.png" alt="logo" class="img-logo">
                                              <div class="logo-header"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                                            </div>
                                            <div>
                                                <input type="checkbox">
                                                <i class="fas fa-bars"></i>
                                                <i class="fas fa-times"></i>
                                            <nav>
                                                <ul>
                                                <li><a href="/home" class="respmenu-link">Home</a></li>
                                                <li><a href="#" class="respmenu-link">Mascotas</a></li>
                                                <li><a href="/tienda" class="respmenu-link">Tienda</a></li>
                                                <li><a href="#" class="respmenu-link">Nosotros</a></li>
                                                <li><a href="/login" class="respmenu-link">Ingresar</a></li>
                                                <li><a href="/registro" class="respmenu-link">Registrarse</a></li>
                                                </ul>
                                            </nav>
                                        </div>  
                                    </div>
                
    </header>
   
    <section class="foto-header" >
              <div class="img-container">
                <img src="/images/Headertxt.jpg" alt="" class="header-img">
              </div>
              <div class="div-donar">
                <form action=""> 
                  <input type="submit" value="DONAR" class="boton-donar">   
                </form>
              </div>
            </div>
    </section>
    <main class="propiedades-main">
    <section class="seccion-articulos">
        <article class="articulo-caracteristica article-shadow">
            <div class="img-art">
                <img src="/images/fotohsection1.jpg" alt="texto1" class="img-section">
            </div>
     
    
            <div class="text-article">
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptates ipsum ad esse quod animi optio nemo. Numquam, aspernatur nisi alias exercitationem eos officia beatae odio praesentium. Praesentium, accusantium repellendus.
                </p>
            </div>
        </article>
    
        <article class="articulo-caracteristica article-shadow">
                <div class="img-art">
                 <img src="/images/fotohsection2.jpg" alt="texto2" class="img-section">
                </div>
                <div class="text-article">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nobis consectetur, blanditiis reprehenderit molestias repellendus velit deserunt quia soluta ea labore odit voluptas quibusdam quod! Temporibus eligendi excepturi quos asperiores.

                    </p>
                </div>
        </article>
        <article class="articulo-caracteristica article-shadow">
            <div class="img-art">
             <img src="/images/fotohsection3.jpg" alt="texto3" class="img-section">
            </div>
            <div class="text-article">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cupiditate dolorum iste aperiam et ipsam laborum a architecto sapiente magnam repudiandae, officia dolor obcaecati velit nemo! Sunt atque animi expedita!
                </p>
            </div>
        </article>
    </section>
   </main>
    <footer>

    <div class="footer-container-all">

        <div class="footer-container">


            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-facebook"></i> Siguenos en Facebook </label>

                </div>
                <div class="foot-redes">

                      
                      <label><i class="fa-brands fa-instagram"></i> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-square-twitter"></i> Siguenos en Twitter</label>
                </div>


            </div>
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    
                    <label> <i class="fa-solid fa-mobile-screen-button"></i>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-envelope"></i>javiernicolasolivera@gmail.com</label>
                </div> 

                

            </div>
           
        </div>
            <div class='footer-container1'>

                     <div class="copyright"> 2022 Todos los derechos reservados Grupo#4</div>
                <div class="politica">

                    <a href=""> Informacion compañia</a>|
                    <a href=""> Privacidad y Politica</a>|
                    <a href=""> Terminos y condiciones</a>

                </div>
            </div>
  
           
        </div>

        
        
   </footer>
</body>
</html>