
<%- include('partials/head') %>

<body>
    <%- include('partials/header') %>
   
    <section class="foto-header" >
              <div class="img-container">
                <img src="/images/Headertxt.jpg" alt="" class="header-img">
              </div>
               
              <div class="div-donar">
                <h2><i class="fa-solid fa-heart"></i>Ellos dependen de nosotros.<i class="fa-solid fa-heart"></i></i></h2>
                <form action=""> 
                  <input type="submit" value="DONAR" class="boton-donar">        
                </form> 
                <h2><i class="fa-solid fa-heart"></i>Podemos darle un mundo mejor.<i class="fa-solid fa-heart"></i></h2> 
              </div>
          
            
    </section>
    
    
    <main class="propiedades-main">
    <section class="seccion-articulos">
        <article class="articulo-caracteristica article-shadow">
            <div class="img-art">
                <img src="/images/fotohsection1.jpg" alt="texto1" class="img-section">
            </div>
            <div class="text-article">
                <p>
                    <h3> TITULO 1 </h3>
                </p>
                <p>
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quis voluptates ipsum ad esse quod animi optio nemo. Numquam, aspernatur nisi alias exercitationem eos officia beatae odio praesentium. Praesentium, accusantium repellendus.
                </p>
            </div>
        </article>
    
        <article class="articulo-caracteristica article-shadow">
                <div class="img-art">
                 <img src="/images/fotohsection2.jpg" alt="texto2" class="img-section">
                </div>
                <div class="text-article">
                    <p>
                        <h3> TITULO 2</h3>
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore nobis consectetur, blanditiis reprehenderit molestias repellendus velit deserunt quia soluta ea labore odit voluptas quibusdam quod! Temporibus eligendi excepturi quos asperiores.

                    </p>
                </div>
        </article>
        <article class="articulo-caracteristica article-shadow">
            <div class="img-art">
             <img src="/images/fotohsection3.jpg" alt="texto3" class="img-section">
            </div>
            <div class="text-article">
                <p>
                    <h3> TITULO 3</h3>
                </p>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim cupiditate dolorum iste aperiam et ipsam laborum a architecto sapiente magnam repudiandae, officia dolor obcaecati velit nemo! Sunt atque animi expedita!
                </p>
            </div>
        </article>
    </section>
   </main>
   <%- include('partials/footer') %>
  
</body>
</html>