<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
    rel="stylesheet" />
    <link href="/css/normalize.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <title>Home</title>
</head>
<body>
 <header>
        <!--Menu no Responsive Tablet/Laptop/Escritorio-->
        <nav class="nav-nonresponsive">
            <div >
              <a href="/home"><img src="/images/logoPATITAsinfondo.png" alt="logo" class="logo-noresponsive" ></a>
            </div>
            
            <div class="menu1">
                <ul class="nav-menu1">
                   <li><a href="/">Mascotas |</a></li>   
                   <li><a href="tienda">Tienda |</a></li>   
                   <li><a href="/">Nosotros |</a></li>   
                   
                </ul>
            </div>
           
            <div class="menu2">
                <ul class="nav-menu2">
                     <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
                     <li><a href="/login">Ingresar |</a></li>
                     <li><a href="/registro">Registrarse</a></li>  
                    
            </div>
       
        </nav>
             <!--Menu Responsive para celular-->
               <div class="menuresponsive">
                    
                    <div class="respmenu">
                        <div class="logo-tienda-responsive">
                            <img src="/images/logoPATITAsinfondo.png" alt="logo" class="img-logo">
                            <div class="logo-header"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                        </div>
                         <div>
                               <input type="checkbox">
                               <i class="fas fa-bars"></i>
                               <i class="fas fa-times"></i>
                                <nav>
                                   <ul>
                                     <li><a href="/home" class="respmenu-link">Home</a></li>
                                     <li><a href="#" class="respmenu-link">Mascotas</a></li>
                                     <li><a href="#" class="respmenu-link">Tienda</a></li>
                                     <li><a href="#" class="respmenu-link">Nosotros</a></li>
                                     <li><a href="/login" class="respmenu-link">Ingresar</a></li>
                                     <li><a href="/registro" class="respmenu-link">Registrarse</a></li>
                                    </ul>
                                </nav>
                            </div>  
                        </div>
                </div>  
    </header>

<main class="main-tienda">
    <div class="card">

      <div class="face front">
         <img src="images/remera.png" alt="">
          <h3></h3>
        
      </div>
          <div class="face back">
             <h3>Unisex</h3>
              <p>REMERA TANTO PARA EL COMO PARA ELLA, ALGODON DE PRIMERA CALIDAD CON LA IMAGEN DEL PERRITO QUE MAS TE GUSTE</p>
                 <div class="link">
                    <a href=""> Leer mas</a>

                  </div>
        
          </div>

      </div>

      <div class="card">

      <div class="face front">
         <img src="images/remera1.png" alt="">
          <h3></h3>
        
      </div>
          <div class="face back">
             <h3>Remera Hombre</h3>
              <p>REMERAS SUBLIMADAS - PERSONALIZADAS EXCELENTE COLORES SUBLIMADOS, EL MEJOR PRECIO SIN COMPRA MÍNIMA.</p>
                 <div class="link">
                    <a href="/productoHombre.html"> Leer mas</a>
                  

                  </div>
        
          </div>

      </div>


      <div class="card">

      <div class="face front">
         <img src="images/remera2.png" alt="">
          <h3></h3>
        
      </div>
          <div class="face back">
             <h3>Musculosa Mujer</h3>
              <p>CORTE CLASICO DE RIB DE ALGODON. HECHO EN ARGENTINA. 
                ALGODON DE ALTA CALIDAD. ESTAMPADA CON LA IMAGEN QUE MAS TE GUSTE</p>
                 <div class="link">
                    <a href=""> Leer mas</a>

                  </div>
        
          </div>

      </div>
<div class='cuadro'>
      <div class="card cuadro">

      <div class="face front">
         <img src="images/cuadro.png" alt="">
          <h3></h3>
        
      </div>
          <div class="face back">
             <h3>Cuadro</h3>
              <p>ELEGI TU CUADRO CON LAS IMAGENES DE GATITOS QUE MAS TE GUSTEN</p>
                 <div class="link">
                    <a href=""> Leer mas</a>

                  </div>
        
          </div>

      </div>


      <div class="card cuadro">

      <div class="face front">
         <img src="images/cuadro1.jpg" alt="">
          <h3></h3>
        
      </div>
          <div class="face back">
             <h3>Cuadro</h3>
              <p>ELEGI TU CUADRO CON LAS IMAGENES DE PERRITOS QUE MAS TE GUSTEN</p>
                 <div class="link">
                    <a href=""> Leer mas</a>

                  </div>
        
          </div>

      </div>
</div>


      




























</main>

 <footer>

    <div class="footer-container-all">

        <div class="footer-container">


            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-facebook"></i> Siguenos en Facebook </label>

                </div>
                <div class="foot-redes">

                      
                      <label><i class="fa-brands fa-instagram"></i> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-square-twitter"></i> Siguenos en Twitter</label>
                </div>


            </div>
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    
                    <label> <i class="fa-solid fa-mobile-screen-button"></i>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-envelope"></i>javiernicolasolivera@gmail.com</label>
                </div> 

                

            </div>
           
        </div>
            <div class='footer-container1'>

                     <div class="copyright"> 2022 Todos los derechos reservados Grupo#4</div>
                <div class="politica">

                    <a href=""> Informacion compañia</a>|
                    <a href=""> Privacidad y Politica</a>|
                    <a href=""> Terminos y condiciones</a>

                </div>
            </div>
  
           
        </div>

        
        
   </footer>
</body>