

.imagen{
    border: 1px solid black;
}
.producto{
   /* box-shadow: rgb(100, 100, 100) 0px 0px 10px;*/
   border-bottom: 1px solid black;
    width: 90%;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
.nombre-producto{
    padding-bottom: 10px;
    text-decoration: underline;
}
.precio-tacho{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: right;
}
.precio-tacho i{
   /* position: absolute;*/
   color: blue;
    
}
.camion{
    margin-bottom: 15px;
    
}

.envio{
    display: flex;
    flex-wrap: wrap;
    margin-left: 10px;
}
.detalle{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.subtotal{
    text-align: center;
    width: 100%;
    
}
.w-30{
    width: 30%;
}
.w-100{
    width: 100%;
}
.total{
    display: flex;
    flex-direction: column;
    padding-top: 30px;
    margin-left: 10px;
}
.total button{
    width: 50%;
    padding: 5px;
    align-items: center;
    border-radius: 5px;
    background-color: #74BDE0;
    position: absolute;
    top: 450px;
    right: 100px;
}
.total a{
    text-align: center;
    margin-top: 80px;
    padding-bottom: 10px;
}
.boton-calcular{
    margin-left: 15px;
}
/*FORMULARIO LOGIN*/
.formulario{
  padding: 20px 15px;
  text-align: center;
  
}
.titulo-login{
  padding-bottom: 20px;
  text-shadow: 2px 2px 5px white;
  
}
.input-box{
  margin-bottom: 15px;

}
.input-box label{
  margin-bottom: 12px;
  display: block;
  font-size: 20px;
}
.campo-input{
  width: 80%;
  padding: 5px 8px;
  border-radius: 5px;
  border: none;
}
.boton-login{
  padding: 8px 15px;
  border-radius: 5px;
  background-color: aliceblue;
  margin-top: 15px;
  border: none;

}


/*FIN LOGIN NO RESPONSIVE*/

@media(min-width: 769px){
    /*laptop*/
    .total button{
        right: 300px;
        box-shadow: 2px 2px 5px white;
    }
    .producto{
        justify-content: space-around;
    }
    

    /*carrito para modo escritorio*/

.main{
    margin: 0 auto;
    width: 80%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
      
  }
  .imagen{
    width: 80%;
  }
  .section-box{
    display: flex;
    margin-bottom: 150px;
    
  }
  .h2-responsive{
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .detalle{
    justify-content: space-around;
    margin-left: 20px;
  }
  .precio-tacho{
    justify-content:space-around;
    flex-direction: column-reverse;
    margin-left: 20px;
  }
  .total{
    display: flex;
    flex-wrap: wrap;
    
  }
  .total h2{
    width: 100%;
  }
  .w-30{
    width: 80%;
    height: 30px;
  }
  .boton-calcular{
    margin: 0;
  }
  .camion{
    margin-left: 20px;
  }
  .envio{
    justify-content: space-around;
  }
  .boton-tacho{
    
    border: none;
   
  }
  .boton-tacho i{
    font-size: 1.5em;
    
   
  }
 .formulario{
  background-image:url(../images/fotohsection2.jpg) ;
  background-size: cover;
  background-position: center center;
 }
 .campo-input{
  width: 40%;
  display: flex;
  padding: 10px 0px
 }
 .input-box label{
  text-align: left;
  color: white;
 }
 .boton-login{
  display: flex;
  margin-top: 35px;
  width: 40%;
  text-align: center;
 }
 .boton-login:hover{
  background-color: #74BDE0;
  box-shadow: 1px 1px 3px white;
 }
 
      
  
  
}

/*background-image: url(../imagenes/Ezequiel-Parodi.jpg);
background-size: cover;
background-position: center center;*/