<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
<main id="contenedor-productos">

    aca se agrega el producto

  
    

     
        
    
</main>


  
   

<%- include ('../partials/footer') %>
</body>

</html>