<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    
<main class="main">
    <div class="h2-responsive">
        <h2> Mis Compras</h2>
    </div>
    <section class="section-box">
        
        <article class="producto">

                <div class="imagen"> <img src="/images/unisex1.png" alt="logo" > </div>
                <div class="detalle">
                    <h3>Producto</h3>
                    
                    <div class="desplegable">
                        <label>Cantidad</label>
                        <select name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                        </select>
                        
                    </div>
                </div>
                <div class="precio-tacho">
                    
                    <i class="fa-solid fa-trash-can"></i>
                    
                    <p> $1500</p>
                
                </div>
        </article>
        <article class="envio">
                <p class="subtotal">Subtotal</p>
                <i class="fas fa-truck w-100 camion " > </i>
                <div class="input-envio">
                    <input type="number" placeholder="C.P" class="w-30 input-cp" >
                    <button class="boton-calcular w-30">Calcular</button>
                </div> 
        </article>
        <article class="total">
                <h2>TOTAL $</h2>
                <div class="boton-y-link">
                    <button >Iniciar Compra</button>
                    <a href="/tienda"> Ver mas Productos</a>
                </div>
                
        </article>
           
    </section>
</main>

   

<%- include ('../partials/footer') %>
</body>

</html>