<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
<main class="main">
    <div class="h2-responsive">
        <h2> Mis Compras</h2>
    </div>
    <section class="section-box">
        
        <article class="producto">

                <div class="imagen"> <img src="/images/unisex1.png" alt="logo" > </div>
                <div class="detalle">
                    <h3>Producto</h3>
                    
                    <div class="desplegable">
                        <label>Cantidad</label>
                        <select name="cantidad" id="cantidad">
                            <option value="1">1</option>
                            <option value="1">2</option>
                            <option value="1">3</option>
                            <option value="1">4</option>
                        </select>
                    </div>
                </div>
                <div class="precio-tacho">
                    
                    <i class="fa-solid fa-trash-can"></i>
                    
                    <p> $1500</p>
                
                </div>
        </article>
        <article class="envio">
                <p class="subtotal">Subtotal</p>
                <i class="fas fa-truck w-100 camion " > </i>
                <div class="input-envio">
                    <input type="number" placeholder="C.P" class="w-30 input-cp" >
                    <button class="boton-calcular w-30">Calcular</button>
                </div> 
        </article>
        <article class="total">
                <h2>TOTAL $</h2>
                <button >Iniciar Compra</button>
                <a href="/home"> Ver mas Productos</a>
                
        </article>
           
    </section>
</main>

     <footer>
        <div class="footer-container">


            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                      <img src="">
                      <label> Siguenos en Facebook</label>

                </div>
                <div class="foot-redes">

                      <img src="">
                      <label> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                      <img src="">
                      <label> Siguenos en Twitter</label>
                </div>


            </div>
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    <img src="">
                    <label>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    <img src="">
                    <label>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    <img src="">
                    <label>javiernicolasolivera@gmail.com</label>
                </div> 

            </div>
         
            <div class='footer-container1'>
                 <div class="copyright"> 2022 Todos los derechos reservados

                 </div>
                <div class="politica">

                  <a href=""> Informacion compañia</a>|
                  <a href=""> Privacidad y Politica</a>|
                  <a href=""> Terminos y condiciones</a>|

                </div>

            </div>
  
           
        </div>

        
        
   </footer>


</body>
</html>