<%- include('../partials/head') %>

  <%- include('../partials/header') %>

<title>dashboard</title>
<div class="box-dashboard">
<button class="dashboard-button"></button><a class="btn btn-success btn-block my-4"
href="create">

CREAR PRODUCTO 
</a> </button>
<button class="dashboard-button"></button><a class="btn btn-success btn-block my-4"
href="/views/users/edit">

   EDICION DEL PRODUCTO 
</a> </button>

<button class="dashboard-button"></button><a class="btn btn-success btn-block my-4"
href="/:id/edit">

    DETALLE DEL PRODUCTO 
</a> </button>

<button class="dashboard-button"></button><a class="btn btn-success btn-block my-4"
href="destroy">

    ELIMINAR PRODUCTO 
</a>

<button class="dashboard-button"></button><a class="btn btn-success btn-block my-4"
href="list">

   LISTA DE PRODUCTOS 
</a> 

  <!-- footer -->
        <%- include('../partials/footer') %>
        <!-- /footer -->
</div>
