<%- include('../partials/head') %>



<button><a class="btn btn-success btn-block my-4"
href="create">
   
Crear nuevo producto

</a> </button>


<button><a class="btn btn-success btn-block my-4"
href="/detail">

    detalle del producto
</a> </button>

<button><a class="btn btn-success btn-block my-4"
href="/delete">

    eliminar producto
</a> </button>

<button><a class="btn btn-success btn-block my-4"
href="list">

    lista de productos 
</a> </button>

