<%- include('../partials/head') %>
 <title>Colaboracion</title>
    <body class="body-donaciones">
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->
        <div class="container-descripcion-donaciones">
            <h2 class="h2-descripcion-donaciones"> COLABORA CON NOSOTROS, PARA ELLOS</h2>
            <p> Tu aporte nos ayuda a seguir cumpliendo nuestro objetivo. Rescatamos animales en situación de riesgo, le brindamos atención veterinaria, higiene, alimentación adecuada y tránsito. Lo hacemos con mucho amor, pero necesitamos tu ayuda.
            Podes contactarte con nosotros para ver como trabajamos, tu contribucion tiene destino seguro
            Ellos te lo agradecen!!</p>
        </div>
    <div class="container-donaciones">
        <div class="card-donaciones" >
        <div class="left-column background1-left-column">
            <h6>Transferencia Bancaria</h6>
            <h2>BANCO PEPITO</h2>
            <i class="fa-solid fa-building-columns"></i>
        </div>
            <div class="right-column">
               <div>
                <h4>Banco Pepito</h4>
                <h6>Transferencia</h6>
               </div>

               <h2>Alias: Asoc.areani</h2>
               <p>
                  
                  Cuenta Cte N° 123456789111 /
                  Sucursal n° 111 /
                  CBU 2222222222222222222222 /
                  Titular de la cuenta: "Juanita Gonzalez" /
                  CUIT: 30151515152
                   
               </p>
               
            </div>
        
       </div>
       <div class="card-donaciones" >
        <div class="left-column background1-left-column">
            <h6>Billetera Virtual</h6>
            <h2>Mercado Pago</h2>
            <i class="fa-solid fa-handshake-simple"></i>
        </div>
            <div class="right-column">
               <div>
                <h4>Mercado Pago</h4>
               </div>
               <h2>Información:</h2>
               <p>
                A través de este link podes donar el importe
                que quieras ingresando los datos de tu tarjeta. 
                El monto es voluntario.
               </p>
               <a href="https://mpago.la/2gPshic"> <button class="button-donaciones background1-left-column">Donar</button> </a>
            </div>
        
       </div>
       
    </div>
   
    </body>   
        <footer>
        <%- include('../partials/footer') %>  
        </footer>