<%- include('../partials/head') %>
 <title>detail</title>
    <body class="body-donaciones">
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->
       <section  class="donaciones">
       
            <div class="box1-donaciones">
                <h1> COLABORA CON NOSOTROS, PARA ELLOS</h1>
                <p> Tu aporte nos ayuda a seguir cumpliendo nuestro objetivo. Rescatamos animales en situación de riesgo, le brindamos atención veterinaria, higiene, alimentación adecuada y tránsito. Lo hacemos con mucho amor, pero necesitamos tu ayuda. </p>
                <p> Podes contactarte con nosotros para ver como trabajamos, tu contribucion tiene destino seguro</p>
                <p> Ellos te lo agradecen!!</p>
            </div>
            <div class="logo-en-donaciones">
                <img src="/images/logoPATITAsinfondo.png" alt="logo">
                
            </div>
       </section>
       <section>
        <h2 class="h2-donaciones"> Hacé tu donación</h2>
            <div class="donacion-monetaria">
                
                <div class="info-banco"> 
                    <h2> Depósito o transferencia bancaria</h2>
                    <h4> BANCO PEPITO</h4>
                    <p> Cuenta Cte N° 123456789111</p>
                    <p>Sucursal n° 111</p>
                    <p>CBU 2222222222222222222222</p>
                    <p>Alias: Asoc.areani</p>
                    <p>Titular de la cuenta: "Juanita Gonzalez"</p>
                    <p>CUIT: 30151515152</p>
                    <br>
                    <p>Te pedimos que una vez hecha la donación nos avises a cualquiera de nuestros datos de contacto para que podamos corroborar y dejar registrada la misma.</p>
                </div>

               

            
            <div class="otras-donaciones">
                <h2> Otro tipo de donaciones</h2>
                <p> Contactate con nosotros, hay muchas formas de colaborar!! </p>
                <p> Armamos las cuchitas para darles tránsito mientras los tenemos, por lo que son bienvenidos
                    cualquier tipo de material que sirva para la confeccion de las mismas(maderas, pinturas,chapas); 
                    como así también alimentos, insumos veterinarios, mantas y todo lo que se te ocurra que puedan necesitar.
                    <p>Esperamos tu mensaje!!</p>
                </p>
            </div>
        </div>
        <b class="whatsapp"> Envianos el comprobante <a href="https://api.whatsapp.com/send/?phone=5493364197789">
            <i class="fa-brands fa-whatsapp" style="color:green ;"></i>
          </a></b>
       </section>
         
    </body>  
        
        
        
        
        <footer>
        <%- include('../partials/footer') %>  
        </footer>