<%- include('../partials/head')%>

<body class="all-products">
    <%- include('../partials/header') %>
    <div>
        <h3>LISTA DE PRODUCTOS</h3>
    <% products.forEach(product => { %> <%-
        include("../partials/productCard",{product}) %> <% }) %>
  <button>delete</button>
    </div>
    
    <%- include ('../partials/footer') %>
</body>
</html>