<%- include('../partials/head') %>
<body class="body-login">
    <header>
     <!--Menu no Responsive Tablet/Laptop/Escritorio-->
     <nav class="nav-nonresponsive">
        <div >
          <a href="/home"><img src="/images/logoPATITAsinfondo.png" alt="logo" class="logo-noresponsive" ></a>
        </div>
        
        <div class="menu1">
            <ul class="nav-menu1">
               <li><a href="/">Mascotas |</a></li>   
               <li><a href="/">Tienda |</a></li>   
               <li><a href="/">Nosotros |</a></li>   
            </ul>
        </div>
       
        <div class="menu2">
            <ul class="nav-menu2">
                 <li><a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a></li>   
                 <li><a href="/login">Ingresar |</a></li>
                 <li><a href="/registro">Registrarse</a></li>  
            </ul>
        </div>
   
    </nav>
         <!--Menu Responsive para celular-->
           <div class="menuresponsive">
                
                <div class="respmenu">
                    <div class="logo-tienda-responsive">
                        <img src="/images/logoPATITAsinfondo.png" alt="logo" class="img-logo">
                        <div class="logo-header"><a href="/carrito"><i class="fa-solid fa-cart-shopping carrito"></i></a></div>
                    </div>
                     <div>
                           <input type="checkbox">
                           <i class="fas fa-bars"></i>
                           <i class="fas fa-times"></i>
                            <nav>
                               <ul>
                                 <li><a href="/home" class="respmenu-link">Home</a></li>
                                 <li><a href="#" class="respmenu-link">Mascotas</a></li>
                                 <li><a href="#" class="respmenu-link">Tienda</a></li>
                                 <li><a href="#" class="respmenu-link">Nosotros</a></li>
                                 <li><a href="/login" class="respmenu-link">Ingresar</a></li>
                                 <li><a href="/registro" class="respmenu-link">Registrarse</a></li>
                                </ul>
                            </nav>
                        </div>  
                    </div>
            </div>  
    </header>     

<section class="box-form-login">
    <form action="" method="POST" class="formulario">
    
        <h2 class="titulo-login">BIENVENIDOS</h2>
    
        <div class="input-box">
            <label for="">Ingrese Usuario</label>
            <input type="text"  class="campo-input" placeholder="Usuario"    name="usuario" required>
        </div>
    
        <div class="input-box">
            <label for="">Ingrese Contraseña</label>
            <input type="password"  class="campo-input"  placeholder="Contraseña"    name="contraseña" required>
        </div>
    
        <button  class="boton-login" type="submit">Ingresar</button>
    
        <div class="input-box check-login" >
            <label > Recordar </label>
            <div class="check"><input type="checkbox"   checked="checked" name="remember"> </div>
        </div>
    
            <div class="olvido-contraseña"> <a href="#"> ¿Olvidó su contraseña? </a></div>
            
    </form>
</section>




    
    <footer>

        <div class="footer-container-all">
    
            <div class="footer-container">
    
    
                <div class="foot-column1">
                    <h1>Mas informacion de la compañia</h1>
                        <p>  
                            
                             La Fundación Viva la Vida por el Bienestar Animal 
                             es una entidad solidaria creada en Buenos Aires, Argentina,
                             con el objetivo de ayudar a los perros sin hogar.
                             Laura Rama, una de sus fundadoras, es actualmente la
                             Presidenta de la Fundación y única responsable de la misma.  
                            <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                        </p>
    
    
                </div>
                <div class="foot-column2">
                    <h1>Redes Sociales </h1>
                    <div class="foot-redes">
    
                       
                          <label><i class="fa-brands fa-facebook"></i> Siguenos en Facebook </label>
    
                    </div>
                    <div class="foot-redes">
    
                          
                          <label><i class="fa-brands fa-instagram"></i> Siguenos en Instagram</label>
                    </div>
                    <div class="foot-redes">
    
                       
                          <label><i class="fa-brands fa-square-twitter"></i> Siguenos en Twitter</label>
                    </div>
    
    
                </div>
                <div class="foot-column3">
    
    
                      <h1>Informacion de Contactos</h1>
    
                    <div class="foot-contactos">
                        
                        <label><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                    </div>  
                    
                    <div class="foot-contactos">
                        
                        <label> <i class="fa-solid fa-mobile-screen-button"></i>3364017385 </label>
                    </div>  
                    <div class="foot-contactos">
                        
                        <label><i class="fa-solid fa-envelope"></i>javiernicolasolivera@gmail.com</label>
                    </div> 
    
                    
    
                </div>
               
            </div>
                <div class='footer-container1'>
    
                         <div class="copyright"> 2022 Todos los derechos reservados Grupo#4</div>
                    <div class="politica">
    
                        <a href=""> Informacion compañia</a>|
                        <a href=""> Privacidad y Politica</a>|
                        <a href=""> Terminos y condiciones</a>
    
                    </div>
                </div>
      
               
            </div>
    
            
            
       </footer>
</body>
</html>