<%- include('../partials/head') %>
    
<body>
    <%- include('../partials/header') %>
        
<main class="main-nosotros"> 

    <div style="width:100%;display: block;">
      <h1 style="text-align: center;">Quienes somos...</h1>
      <h3 style="text-align: center;">Entre todos podemos colaborar con instituciones conservacionistas dedicadas a preservar la integridad de animales en situación de riesgo.</h3>
    </div>
    
    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/logoong.png" alt="">
    </div>

          <div class="face-nos back-nos">
             <h3>AREANI</h3>
              <p>Entre todos podemos colaborar con instituciones conservacionistas dedicadas a preservar la integridad de animales en riesgo.</p>      
         </div>
    </div>

    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-marisa.jpg" alt="">
      </div>

          <div class="face-nos back-nos">
             <h3>MARISA TORRES</h3>
              <p>Tengo 38 años, una hija de 12 y un gran anhelo por trabajar de esto. Soy Tecnica Analista de Sistemas, aunque nunca pude ejercerlo. Me considero persistente y dedicada.</p>
          </div>
      </div>


    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-javier.jpg" alt="">
      </div>

          <div class="face-nos back-nos">
             <h3>JAVIER OLIVERA</h3>
              <p>Tengo 33 años, Soy técnico electromecánico, técnico superior en Recursos Humanos y cursando la última materia de Licenciado en administración de empresas.</p>
         </div>
     </div>


    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-fernando.jpg" alt="">
      </div>

         <div class="face-nos back-nos">
            <h3>FERNANDO ROMERO</h3>
                  <p>Tengo 26 años, soy técnico en Electrónica y uno de mis hobbies es la programación, la cual espero en un futuro cercano que sea mi profesión.</p>
         </div>
    </div>


    <div class="card-nos">

      <div class="face-nos front-nos">
         <img src="images/foto-jose.jpg" alt="">
      </div>

          <div class="face-nos back-nos">
             <h3>JOSE COURBY</h3>
              <p>Tengo 56 años, trabajo em áreas de administración de dos empresas, una activa en Polo Tecnológico y otra, una mutual, que otorga micro créditos para el consumo personal.</p>
          </div>
    </div>
 
</main>

 <footer>

    <div class="footer-container-all">

        <div class="footer-container">

          
            <div class="foot-column1">
                <h1>Mas informacion de la compañia</h1>
                    <p>  
                        
                         La Fundación Viva la Vida por el Bienestar Animal 
                         es una entidad solidaria creada en Buenos Aires, Argentina,
                         con el objetivo de ayudar a los perros sin hogar.
                         Laura Rama, una de sus fundadoras, es actualmente la
                         Presidenta de la Fundación y única responsable de la misma.  
                        <!--en este parrafo ponemos lo relacionado a nuestra ong-->   
                    </p>


            </div>
            <div class="foot-column2">
                <h1>Redes Sociales </h1>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-facebook"></i> Siguenos en Facebook </label>

                </div>
                <div class="foot-redes">

                      
                      <label><i class="fa-brands fa-instagram"></i> Siguenos en Instagram</label>
                </div>
                <div class="foot-redes">

                   
                      <label><i class="fa-brands fa-square-twitter"></i> Siguenos en Twitter</label>
                </div>


            </div>
        
            <div class="foot-column3">


                  <h1>Informacion de Contactos</h1>

                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-house-user"></i>Magnolia 2075, San Nicolas de los Arroyos. Provincia de Buenos Aires</label>
                </div>  
                
                <div class="foot-contactos">
                    
                    <label> <i class="fa-solid fa-mobile-screen-button"></i>3364017385 </label>
                </div>  
                <div class="foot-contactos">
                    
                    <label><i class="fa-solid fa-envelope"></i>javiernicolasolivera@gmail.com</label>
                </div> 

                

            </div>
           
        </div>
            <div class='footer-container1'>

                     <div class="copyright"> 2022 Todos los derechos reservados Grupo#4</div>
                <div class="politica">

                    <a href=""> Informacion compañia</a>|
                    <a href=""> Privacidad y Politica</a>|
                    <a href=""> Terminos y condiciones</a>

                </div>
            </div>
  
           
        </div>

        
        
   </footer>
  
</body>

</html>