<%- include('../partials/head') %>
    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->
        <section class="box-form-donaciones">
            <form action="" method="POST" class="formulario">
            
                <h1 class="titulo-login">FORMULARIO DE REGISTRO</h1>
          
                <div class="input-box">
                    <label for="">Apellido y Nombres</label>
                    <input type="text"  class="campo-input"  placeholder="Apellido y nombres"    name="nombre" required>
                
                <div class="input-box">
                    <label for="">Correo Electrónico</label>
                    <input type="email"  class="campo-input"  placeholder="E-mail"    name="email" required>
                </div>

                <div class="input-box">
                    <label for="">Elija un Usuario</label>
                    <input type="text"  class="campo-input"  placeholder="Nombre de usuario"    name="usuario" required>
                </div>

                <div class="input-box">
                    <label for="">Elija una Contraseña</label>
                    <input type="number"  class="campo-input"  placeholder="Contraseña"    name="contraseña" required>
                <div class="input-box">
                    <label for="">Reingrese la Contraseña elegida</label>
                    <input type="number"  class="campo-input"  placeholder="Reingrese su Contraseña"    name="contraseña" required>
                </div>    
                </div>
                <div class="input-box check-login" >
                    <label > He leído y acepto las condiciones del presente Registro... </label>
                    <div class="check"><input type="checkbox"   checked="checked" name="aceptación"> </div>
                </div>
            
                    <div class="olvido-contraseña"> <a href="#"> Leer las condiciones del Registro </a></div>
                                
                <button  class="boton-login" type="submit">¡REGISTRESE AHORA!</button>
            
                                    
            </form>
        </section>
           
                    
        
        <footer>
        <%- include('../partials/footer') %>  
        </footer>