<%- include('../partials/head') %>
   
<body class="body-registro">
    <%- include('../partials/header') %>
<main class="carac-main">
            <form action="" method="POST" class="fondo-formulario-reg">
            <div class = "cajas-datos">
                <div calss="caja1-form">
                    <h3 class="titulo-h3">Datos Personales</h3>
                    <P class="p-centrada"><label for="">Nombre y Aplellido:</label></P>
                    <p class="p-centrada" ><input type="text" placeholder="Tu nombe completo" required></p>
                    <P class="p-centrada"><label for="">Domicilio:</label></P>
                    <p class="p-centrada" ><input type="text" placeholder="Calle y altura" required></p>
                    <P class="p-centrada"><label for="">Localidad:</label></P>
                    <p class="p-centrada" ><input type="text" placeholder="Localidad" required></p>
                    <P class="p-centrada"><label for="">Provincia:</label></P>
                    <p class="p-centrada" ><input type="text" placeholder="Provincia" required></p>
                    <P class="p-centrada"><label for="">Móvil:</label></P>
                    <p class="p-centrada" ><input type="text" placeholder="Número de celular" required></p>
                </div>

        <div class="caja2-form">
            <h2 class="titulo-h2">FORMULARIO DE REGISTRO</h2>
            <br>
            <br>
            <P class="p-centrada"><label for="">NOMBRE DE USUARIO:</label></P>
            <p class="p-centrada" ><input type="text" name="userRegister" id="userRegister" placeholder="Ingrese su usuario"></p>
            <p class="p-centrada"><label for="">EMAIL:</label></P>
            <p class="p-centrada"><input type="email"  name="userEmail" id="userEmail" placeholder="Ingrese su mail"></p>
            <p class="p-centrada"><label for="">CONTRASEÑA:</label></P>
            <p class="p-centrada"><input type="password" name="userPassword" id="userPassword"  placeholder="Caracteres alfanumericos"></p>
            <p class="p-centrada"><label for="">REINGRESAR CONTRASEÑA:</label></P>
            <p class="p-centrada"><input type="password"  name="userPasswordSecond" id="userPasswordSecond"  placeholder="Caracteres alfanumericos"></p>

        
        </div>
        
               </div>
            <div class="div-form-submit">
                
                <input class="btn" type="submit" value="Enviar Ahora"><br>
                
            </div>
    </form>
</section>

<footer>
    <%- include('../partials/footer') %> 
</footer>

</body>

</html>