<%- include('../partials/head') %>
 <title>detail</title>
    <body>
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->
        <section class="box-form-donaciones">
            <form action="" method="POST" class="formulario">
            
                <h1 class="titulo-login">FORMULARIO DE REGISTRO</h1>

                     
                <div class="input-box">
                    <label for="">Nombre y Apellido</label>
                    <input type="text"  class="campo-input" placeholder="Nombre y Apellido"    name="nombre" required>
                </div>
            
                <div class="input-box">
                    <label for="">Domicilio</label>
                    <input type="text"  class="campo-input"  placeholder="Domicilio"    name="domicilio" required>
                </div>
                <div class="input-box">
                    <label for="">Localidad</label>
                    <input type="text"  class="campo-input"  placeholder="Localidad"    name="localidad" required>
                </div>
                <div class="input-box">
                    <label for="">Provincia</label>
                    <input type="text"  class="campo-input"  placeholder="Provincia"    name="provincia" required>
                </div>
                <div class="input-box">
                    <label for="">Documento de Identidad</label>
                    <input type="number"  class="campo-input"  placeholder="D.N.I"    name="documento" required>
                <div class="input-box">
                    <label for="">Móvil</label>
                    <input type="number"  class="campo-input"  placeholder="Teléfono celular"    name="movil" required>
                </div>
                <div class="input-box">
                    <label for="">Correo Electrónico</label>
                    <input type="email"  class="campo-input"  placeholder="E-mail"    name="email" required>
                </div>
                <div class="input-box">
                    <label for="">Elija un Nombre de Usuario</label>
                    <input type="text"  class="campo-input"  placeholder="Nombre de usuario"    name="usuario" required>
                </div>
                <div class="input-box">
                    <label for="">Elija una Contraseña</label>
                    <input type="number"  class="campo-input"  placeholder="Contraseña"    name="contraseña" required>
                <div class="input-box">
                    <label for="">Reingresar su Contraseña</label>
                    <input type="number"  class="campo-input"  placeholder="Reingrese su Contraseña"    name="contraseña" required>
                </div>    
                </div>
                <div class="input-box check-login" >
                    <label > Acepto las condiciones del Registro... </label>
                    <div class="check"><input type="checkbox"   checked="checked" name="aceptación"> </div>
                </div>
            
                    <div class="olvido-contraseña"> <a href="#"> Leer las Condiciones del Registro </a></div>
                                
                <button  class="boton-login" type="submit">¡REGISTRESE AHORA!</button>
            
                                    
            </form>
        </section>
           
                    
        
        <footer>
        <%- include('../partials/footer') %>  
        </footer>