<%- include('../partials/head') %>
    <body class="body-register">
        <!-- Header -->
        <%- include('../partials/header') %>
        <!-- /Header -->
        
        <div class="container-register">
            <div class="form-box-register">
               <form action="" name="Formfill" onsubmit="return validation()">
                <h2>Registro</h2>
                  <div class="input-registro">
                   <i class="fa-solid fa-user icono-registro"></i> 
                   <input type="text" name="nameRegister"    placeholder="Nombre y Apellido" required>
                  </div>
                  <div class="input-registro">
                    <i class="fa-solid fa-envelope icono-registro"></i>
                    <input type="text" name="emailRegister" placeholder="Email" required>
                  </div>
                  <div class="input-registro">
                    <i class="fa-solid fa-map-location icono-registro"></i>
                    <input type="text" name="direccionRegister" placeholder="Dirección" required>
                  </div>
                  <div class="input-registro">
                    <i class="fa-solid fa-globe icono-registro"></i>
                    <input type="text" name="paisRegister" placeholder="País" required>
                  </div>
                  <div class="input-registro">
                     <i class="fa-solid fa-mobile icono-registro"></i>
                    <input type="text" name="telefonoRegister" placeholder="Telefono" required>
                  </div>
                  <div class="enviar-registro">
                     <input type="submit" class="boton-registro" value="Registrar">
                  </div>
                  <div class="grupo">
                   <span><a href="#">Olvidé la contraseña</a></span>
                   <span><a href="/user/login">Login</a></span>
                  </div>
               </form>
            </div>
       <!--Pop up de validación de registro-->
            <div class="popup" id="popup">
              <i class="fa-regular fa-circle-check icono-check"></i>
              <h2> Gracias por registrarte!</h2>
              <p>Tu formulario de registro fue enviado.</p>
              <a href=""><button onclick="closeSlide()">OK</button></a>
            </div>

        </div>            
    
     <script src="/popup.js">
     </script>
       
        <%- include('../partials/footer') %>  

        
    </body>