<%- include('../partials/head') %>
    

    <%- include('../partials/header') %>
    
    <% if (estado) { %>
        <body class="body-tienda">
    <div class="div-boton-tienda">
    <button class="boton-tienda">
        
        <span>
          <a href="/products/create">Crear producto</a>
        </span>
      </button>

    </div>
    <% } %>
<main class="main-tienda">   
   
        <% productos.forEach(product => { %> <%-
            include("../partials/productCard",{product}) %> 
           
            
        <% }) %>

</main>

<footer>
    <%- include('../partials/footer') %>  
</footer>

</body>

</html>